    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Dolor reprehenderit repellendus, optio labore odio at tempore debitis nisi. Quasi debitis tenetur eaque molestias non porro odio sapiente.</p>
                
                <!-- START OF WUFOO -->

                <div id="wufoo-z9mmfh122drgh">
Fill out my <a href="https://fernandozarur.wufoo.com/forms/z9mmfh122drgh">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var z9mmfh122drgh;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'fernandozarur',
'formHash':'z9mmfh122drgh',
'autoResize':true,
'height':'437',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z9mmfh122drgh = new WufooForm();z9mmfh122drgh.initialize(options);z9mmfh122drgh.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
<!-- END OF WUFOO -->
                
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>