    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projet</h2>
                    
                    <p>Les voies ferrées sont connues comme le «chemin permanent ». Une étape de beauté étrange dans un monde impermanent, où nous mettons nos masques et dansons au rythme de la valse anonyme de la collectivité sous la boussole de l'horloge mécanique.</p>
                    <p>Ce projet de photographie est le résultat de déplacements quotidiens et des longs trajets en train, à partir de 2007 et que continue encore aujourd'hui.
</p>
                   <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
                </div>
            </div>
        </div>
    </section>